<section class="topicSec">
  <div><h2>Passenger Information</h2></div>
</section>

<section class="buyForm">

  <div class="formMain">

    <div class="txt">
      <h3>Enter your details</h3> 
    </div>

    <div class="selectedTrain" *ngIf="selectedTrain">
      <div>
        <h3>#{{ selectedTrain.number }}</h3>
      </div>
      <div>
        <span>{{ selectedTrain.from }}</span>
        <span>{{ selectedTrain.departure }}</span>
      </div>
      <div>
        <span>{{ selectedTrain.to }}</span>
        <span>{{ selectedTrain.arrive }}</span>
      </div>
    </div>

    <div class="line"></div>

    <form action="">

      <h2>Contact Information</h2>

      <div class="email">
        <input type="email" placeholder="Enter Your Email">
        <input type="text" placeholder="Enter Your Telephone Number">
      </div>

      <h2>Passenger Information</h2>

      <div class="passengers">
        <div class="passenger" *ngFor="let passenger of passengersArray; let i = index">
          <h4>Passenger {{ i + 1 }}</h4>
          <input type="text" [(ngModel)]="passenger.firstName" name="firstName{{i}}" placeholder="First Name">
          <input type="text" [(ngModel)]="passenger.lastName" name="lastName{{i}}" placeholder="Last Name">
          <input type="text" [(ngModel)]="passenger.passportNumber" name="passport{{i}}" placeholder="Passport Number">
          <button>Select Your Seat</button>
        </div>
      </div>
      
    </form>

  </div>

</section>

