*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.form-sec{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #c0d3fe, white);
    .textSide{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 70%;
        span{
            font-size: 22px;
            font-weight: 500;
        }
        .topic{
            font-size: 40px;
        }
    }
    .dropDwns{
        position: relative;
        width: 70vw;
        top: 30vh;
        height: 15vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-around;
        align-items: center;
        form{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            select{
                border-radius: 5px;
                width: 150px;
                height: 40px;
                border-radius: 1px solid black;
                outline: none;
                &:hover{
                    background-color: none;
                }
            }
        }
    }
}
