<section class="form-sec">
    <div class="textSide">
        <h1 class="topic">Buy Your Train Tickets Online</h1>
        <span>Wishing you a pleasant journey!</span>
    </div>

    <div class="dropDwns">
      <select name="from" id="from">
        <option value="" disabled selected>From</option>
        <option *ngFor="let station of stations" [value]="station.name">{{ station.name}}</option>
      </select>
      
      <select name="to" id="to">
        <option value="" disabled selected>To</option>
        <option *ngFor="let station of stations" [value]="station.name">{{ station.name}}</option>
      </select>
    </div>
</section>
